@using Goru.Areas.AdminPanel.Enums
@using Goru.Data
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Goru.Areas.AdminPanel.Models.Order.CreateOrderVM

@{
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}


@using(Html.BeginForm("Add", "Orders", FormMethod.Post))
{
    <div class="create-order-form">
        <p>
            <label>Артикул</label><br/>
            @Html.TextBoxFor(m => m.Article)
        </p>
        <br/>
        <p>
            <label>Категория</label><br/>
            <select name="categoryId" class="form-select form-select-sm">
                @foreach (var item in DataTables.Categories)
                {
                <option value="@item.Id">@item.Name</option>
                }
            </select>
        </p>
        <br/>
        <p>
            <label>Название</label><br/>
            @Html.TextBoxFor(m => m.Name)
        </p>
        <br/>
        <p>
            <label>Размер скидки</label><br/>
            @Html.TextBoxFor(m => m.Offer)
        </p>
        <br/>
        <p>
            <label>Цена</label><br/>
            @Html.TextBoxFor(m => m.Price)
        </p>
        <br/>
        <p>
            <label>Размер(S, M, L, XL...)</label><br/>
            <select name="size" class="form-select form-select-sm">
                @foreach (var item in Enum.GetNames(typeof(SizeEnum)))
                {
                    <option value="@item">@item</option>
                }
            </select>
        </p>
        

        <input type="submit" value="Добавить" onchange="this.form.submit()"/>
    </div>
}

